[submodule "wecodebolivia/theme_twelve_bizople"]
	path = wecodebolivia/theme_twelve_bizople
	url = git@github.com:wecodebolivia/theme_twelve_bizople.git
	branch = 13.0.1

[submodule "mashirozx/odoo_mrp_sale_info"]
	path = mashirozx/odoo_mrp_sale_info
	url = git@github.com:mashirozx/odoo_mrp_sale_info.git
	branch = 13.0
